
  <div class="col-md-6">
    <h3 id="syllabus-spreadsheets">Data Organisation in Spreadsheets</h3>
    <ul>
      <li>Formatting data tables in spreadsheets</li>
      <li>Formatting problems</li>
      <li>Dates as data</li>
      <li>Quality control</li>
      <li>Exporting data</li>
      <li><a href="{{site.dc_pages}}/spreadsheet-ecology-lesson/reference/">Reference...</a></li>
    </ul>
  </div>


  <div class="col-md-6">
    <h3 id="syllabus-openrefine">Open Refine</h3>
    <ul>
      <li>Introduction to OpenRefine</li>
      <li>Importing data</li>
      <li>Basic functions</li>
      <li>Advanced Functions</li>
      <li><a href="{{site.lc_pages}}library-openrefine/reference">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-r">Data analysis and visualisation in R</h3>
    <ul>
      <li>Introduction to R</li>
      <li>Starting with data</li>
      <li>Aggregating and analyzing data</li>
      <li>Data visualisation</li>
      <li><a href="{{site.dc_pages}}/R-ecology-lesson/#chapters">Reference...</a></li>
    </ul>
  </div>
